<table>
	<tr>
		<th>Id</th><th >title</th><th>person</th><th colspan="2"></th>
	</tr>
	<% @data.each do |obj| %>
	<tr>
		<td><%= obj.id %></td>
		<td><a href="/messages/<%= obj.id %>"><%= obj.title %></a></td>
		<td><%= obj.person != nil ? obj.person.name : '' %></td>
		<td><a href="/messages/edit/<%= obj.id %>">Edit</a></td>
		<td><a href="javascript:delData(<%= obj.id %>);">Delete</a></td>
	</tr>
	<% end %>
</table>