<h1>Books#add</h1>
<p>登録するデータを入力</p>
<table>
    <%= form_for(@book, url:{controller:'books', action:'add'}) do |form| %>
    <tr>
        <th>タイトル</th>
        <td><%= form.text_field :title %></td>
    </tr>
    <tr>
        <th>著者</th>
        <td><%= form.text_field :author %></td>
    </tr>
    <tr>
        <th>価格</th>
        <td><%= form.text_field :price %></td>
    </tr>
    <tr>
        <th>出版社</th>
        <td><%= form.text_field :publisher %></td>
    </tr>
    <tr>
        <th>メモ</th>
        <td><%= form.text_field :memo%></td>
    </tr>
    <tr>
        <th></th>
        <td><%= form.submit "保存" %></td>
    </tr>
    <% end %>
    
</table>